/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');


body {
    background-color: #e2e2e2;
    color: #2d2d2b;
}

/* NAVBAR */
.nav {
    background-color: #e2e2e2;
}

.nav-link {
    color: #2d2d2b !important;
}

.nav-link:hover {
    color:#6f7f88 !important;
}



/* INTRO */
.display-4 {
    padding-top: 125px;
}

.bold {
    font-weight: 700;
}

.italic {
    font-family: 'Libre Baskerville', serif !important;
}

.main-img {
    padding-top: 100px;
    -ms-transform: rotate(3deg); /* IE 9 */
  transform: rotate(3deg);
  object-fit: contain;
}



/* ABOUT */
.sub-title {
    padding-top: 100px;
}


/* WORK */
.btn {
    border-radius: 50%;
}



/* PROJECTS */
.project-img {
    object-fit: contain;
}

.project-links {
    color:#2d2d2b;
    text-decoration: none;
}

.project-links:hover {
    color: #6f7f88;
}


/* CONTACT */
.contact-link {
    color:#2d2d2b;
    text-decoration: none;
}

.contact-link:hover {
    color: #6f7f88;
}

.project-links {
    color:#2d2d2b;
    text-decoration: none;
}

.project-links:hover {
    color: #6f7f88;

}